* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 15rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    background: #ffff;
    border: none;
    width: 5rem;
    height: 5rem;
}

button i {
    font-size: 3rem;
}

#container {
    display: flex;
    justify-content: center;
}

.slide {
    width: 30rem;
    height: 20rem;
    object-fit: contain;
    background: #dddddd;
    display: none;
}


#thumbnails {
    width: 50rem;
}

.thumbnail {
    object-fit: cover;
    width: calc(100% / 5 - 4px);
    height: 7rem;
    filter: brightness(20%);
}

.title {
    font-size: 2rem;
}

.title,
.text {
    display: none;
}

.active {
    display: inline-block;
    filter: brightness(100%);
}

#desc {
    width: 50rem;
    height: 7rem;
}