body {
    padding: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    border: 2px dashed red;
    width: 5rem;
    height: 5rem;
}

#container {
    display: flex;
    justify-content: center;
    border: 2px dashed green;
}

.slide {
    width: 30rem;
    height: 20rem;
    object-fit: contain;
    background: #dddddd;
    display: none;
}

.active {
    display: block;
    /* filter: brightness(100%); */
}